.n-text{
    font-weight: normal;
    color: var(--text-color);
}


.clean-aTag{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.clean-aTag > img{
    vertical-align: bottom;
}

.git-wrapper{
    position: absolute;
    top: 0px;
    display: flex;
    background: white;
    right: 1rem;
    padding: 4px 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}