.n-text{
    font-weight: normal;
    color: var(--text-color);
}


.clean-aTag{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.clean-aTag > img{
    vertical-align: middle;
}

.git-wrapper{
    height: 20px;
    display: flex;
    background: #efefef;
    align-items: center;
    padding: 4px 8px;
    color: black;
    justify-content: center;
    border-radius: 2px;
    font-size: 12px;
}