.action-icon{
    margin: 0px 5px;
    cursor: pointer;
}

.action-icon-wrapper{
    margin: 0;
    height: 30px;
    display: flex;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
    padding-right: 5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 0px;
}

.action-icon-wrapper.synthetic-hover{
    width: 200px !important;
}

/* .action-icon-wrapper:hover{
    width: 135px;
} */

.add-input{
    border: none;
    height: 24px;
    margin-left: 5px;
    width: 150px;
    padding: 0px 8px;
}

.add-input:focus{
    outline: none;
}