.action-icon{
    margin: 0px 5px;
    cursor: pointer;
}

.action-icon-wrapper{
    margin: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 5px;
}

.add-input{
    border: none;
    height: 24px;
    margin-left: 5px;
    width: 150px;
    padding: 0px 8px;
}

.add-input:focus{
    outline: none;
}